.logo{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form_container{
    margin-top: 25px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search_box{
    margin-top: 25px;
    width: 35em;
    height: 2em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}