body {
    font-family: arial,sans-serif;
}

.nav {
    font-size: 0.8em;
}

.logo{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form_container{
    margin-top: 25px;
    width: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.search_box{
    margin-top: 25px;
    width: 35em;
    height: 2.5em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.search_button {
    margin-top: 25px;
    width: 10em;
    height: 3em;
    border: 0;
    background-color: #f2f2f2;
    font-weight: bold;
    color: gray;
}

.search_button:hover {
    border-color: rgb(216,216,216);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    color: black;
    border: 1;
}

.signin {
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    padding: 0;
    margin: 10px;
}

/* START NAV BAR CSS */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #5f6368;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }

  /* END NAV BAR CSS */

  /* START FOOTER CSS */

  .footer {
      width: 100%;
      font-size: 0.8em;
      position: absolute;
      bottom: 0;
      background-color: #f2f2f2;
      border-top: 1px solid #e4e4e4;
      
  }

  /* END FOOTER CSS */